.main {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 20vw;
}
.header {
    padding: 0px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: greenyellow;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.message {
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    color: #000;
    /* display: flex;
    flex-direction: row; */
}

.selected {
    border: 1px solid cornflowerblue;
    border-radius: 10px;
}